<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/views.css" type="text/css">
    <title>Login</title>
</head>
<body class="login">
    <h1 class='login-title'>Login</h1>
    <form action="/login" method="POST" id="form">
        <div class="user-input">
            <div class="login-input">
                <label for="name">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="login-input">
                <label for="name">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="login-input" type="submit">Login</button>
        </div>
    </form>
    <a href="/register">Need to make an account?</a> 
    <a href="/auth/google">Sign in with Google</a>

</body>
</html>