<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="icon" href="/img/icon.png">
       <title>Map of Game</title>
</head>


<body> 
    <header>
         Board Logic WIP
    </header>

   <div id="container"></div>
   <div id="turnPass">PASS THE TURN</div>
   <div id="charDisplay">
       <div id="nameDisp"></div>
       <div id="statCont">
            <div id="hpDisp" class="statDisp"></div>
            <div id="atkDisp" class="statDisp"></div>
            <div id="defDisp" class="statDisp"></div>
            <div id="mvtDisp" class="statDisp"></div>
            <div id="rngDisp" class="statDisp"></div>
            <div id="lckDisp" class="statDisp"></div>
            <div id="dexDisp" class="statDisp"></div>
       </div>
       <div id="spAtkCont"></div>
   </div>

</body>


{{!-- <script src="./js/board.js"></script> --}}
<script src="../js/board.js"></script>