<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Lemonada|Sriracha&display=swap" rel="stylesheet">

    
       <title>Map of Game</title>

</head>
<body> 
    {{!-- OUTLINE
    
    Header/nav bar
    Map Tile set
    -insert chracter interactions like a visual novel- 
    Character profiles

     --}}

    <div class="container">
        <header>
            {{>header}} 
        </header>

        {{>tiles}} 

        <section class= "Character Cards">

            <h class=""Party-Header id="malaysia"> Party </h>
            <img class="malaysiaheader_border" src="dividers/flower2a.png">
            
            <div class="card-container">
                        <div class="card_1">
                                <div class="card-side malaysiacard_front1">
                                    <p class="introduction">
                                            Visit
                                    </p>
                                </div>
                                <div class="card-side malaysiacard_back1">
                                    <img class="locationsymbol" src="forcards/location.png">
                                    <p class="flipcard_questions"> </p>
                                    <p class="flipcard_intro">  Cameron Highlands, Malaysia
                                        <br>
                                    <span class="flipcard_caption"> Highland Plateau Resort Area</span>
                                    </p>
                                    
                        </div>

                    </div>
                
        </section>
    </div>



    <script src="/js/map.js"></script>
</body>



</html>

