<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Lemonada|Sriracha&display=swap" rel="stylesheet">

    
       <title>Map of Game</title>

</head>
<body> 
    {{!-- OUTLINE
    
    Header/nav bar
    Map Tile set
    -insert chracter interactions like a visual novel- 
    Character profiles

     --}}
     

    <div class="container">

        <div class="map-dialogue-section">
            {{>header}} 
            {{>tiles}} 

            <div class = "dialogue">
                 <div class = "portrait">
                     <img class="portrait" src="/img/icons">
                 </div>
                 <div class = "text">
                     Text here
                 </div>
            </div>

        </div>

      

        <section class= "party-section">
            
            <h2 class="party-header" id="malaysia"> Party </h2>

            <div class= "character-cards">

                <img class="party-divider" src="/img/dividers/elegant-divider.png">
                
                <div class="card_1">

                    <div class="card-side character_front1">
                        
                        <div class="info"> 

                           
                           <div class="column1">  

                            <img class="character-portrait" src="/img/icons/ephraim_portrait.gif">
                            <div class="skills">skills</div>

                           </div>

                            <div class="column2">
                                <div class="row">
                                    <div class="name btn">Name</div>
                                    <div class="weapon btn">Spear</div> 
                                </div>

                                 <div class="row">
                                    <div class="stat-button hp">19/19</div>
                                </div>

                                <div class="row">
                                    <div class="atk-spd btn">Name</div>
                                    <div class="def-res btn">Spear</div> 
                                </div>
                            
                            </div>
                           
                         


                           
                            

                        </div>
                    
                      

                        
                    </div>

                     <div class="card-side character_back1">
                        Lore         
                    </div>
    
            </div>
                    
        </section>

    </div>



    <script src="/js/map.js"></script>
</body>



</html>

