<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="icon" href="/img/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Lemonada|Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oxanium|Roboto&display=swap" rel="stylesheet">

    
       <title>Map of Game</title>

</head>
<body> 
    {{!-- OUTLINE
    
    Header/nav bar
    Map Tile set
    -insert chracter interactions like a visual novel- 
    Character profiles

     --}}
     

    <div class="container">

        <div class="map-dialogue-section">
            {{>header}} 
            {{>tiles}} 

            <div class = "dialogue">
                 <div class = "portrait">
                     <img class="portrait" src="/img/icons">
                 </div>
                 <div class = "text">
                     Text here
                 </div>
            </div>

        </div>

      

        <section class= "party-section">
            
            <h2 class="party-header" id="malaysia"> Party </h2>

            <div class= "character-cards">

                <img class="party-divider" src="/img/dividers/elegant-divider.png">
               
               
            
                
                        <div class="card-side character_front1">
                
                            <div class="info">
                
                
                                <div class="column1">
                
                                    <img class="character-portrait" src="/img/icons/ephraim_portrait.gif">
                                    <div class="skills-btn">
                                        <div class="skills">1</div>
                                        <div class="skills">2</div>
                                        <div class="skills">3</div>
                                    </div>
                
                                </div>
                
                                <div class="column2">
                                    <div class="row">
                                        <div class="name btn"> 
                                            <img src="/img/card/decor_left_large.png" class="decor-left">
                                           Ephraim
                                            <img src="/img/card/decor_right_large.png" class="decor-right">
                                        </div>
                                                <div class="weapon btn">
                                                    <img src="/img/card/decor_left_large.png" class="decor-left">
                                                    Spear
                                                    <img src="/img/card/decor_right_large.png" class="decor-right">
                                                    </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="btn hp">
                                            <img src="/img/card/decor_left_large.png" class="decor-left">
                                            19/19
                                            <img src="/img/card/decor_right_large.png" class="decor-right">
                                            
                                            </div>
                                        
                                    </div>
                
                                    <div class="row">
                                        <div class="stats btn">
                                            <img src="/img/card/diamond_large.png" class="stat-decor">
                                            <span class="stat-text">Atk</span>
                                             <img src="/img/card/diamond_large.png" class="stat-decor2">
                                           <span class="stat-text">Spd</span>
                                            </div>
                                        <div class="stats btn">
                                            <img src="/img/card/diamond_large.png" class="stat-decor">
                                            <span class="stat-text">Def</span>
                                             <img src="/img/card/diamond_large.png" class="stat-decor2">
                                            <span class="stat-text">Res</span>
                                        </div>
                                    </div>
                
                                </div>
                
                            </div>
                
                        </div>
                
                  
                


        </section>

    </div>



    <script src="/js/map.js"></script>
</body>



</html>

