<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css" type="text/css">
    <title>Server List</title>
</head>
<body>
    <div class="nav" >
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn">&larr; Logout</button>
        </form>
        <div id="userTag" class="pTag" uId = {{userID}}></div>
        <div class="logo">
            <img class="logo"src="/img/logos/logo_blue_gold.png">
            <img class="logo_sword"src="/img/logos/sword.png">
        </div>
    </div>

    <div class="servers">
        <a id="newGame" href="#newGamePopup" class=" btn-initial">Create Lobby</a>
        <div id="newGamePopup" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <p class="popup-title">Create Your Battle</p>
                <div class="content">
                    <form id="newGamePOST" action="/newGame" method="POST">
                        <div class="form-sections">
                            <label class="form-label" for="id">ID:</label>
                            <input type="text" value="" id="IdPOST" name="id" required readonly="readonly">
                        </div>
                        <div class="form-sections">
                            <label class="form-label" for="name">Name:</label>
                            <input type="text" value="" id="namePOST" name="name" required>
                        </div>
                        <button id="newServer" class="btn-secondary">Create Game</button>
                    </form>    
                </div>
                
            </div>
        </div>
        <input type="text" id="serverSearch" placeholder="Search for a server name...">
        <ul id="serverList"></ul>
</body>
<script src="./js/serverIndex.js"></script>
</html>