<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <div id="uId" uId={{ user }}></div>
    <div id="storeCont"></div>
</body>
<script src="./js/store.js"></script>
</html>