html{
    font-size: 62.5%;
}
*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  flex-direction: column;
    background-image: url(../img/background/backgroundfe2.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

}
.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 2rem;

}
.logo{
  width: 40rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
 
 }
 
 .logo_sword{
   position: absolute;
   top: 27%;
   left: 10%;
   width: 35rem;
   filter: drop-shadow(12px 8px 2px #05123d);
 }
.servers, .mainBody{
    display: inline-block;

    margin: 0 auto;
    width: 50rem;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 5rem;
    background-color: 	rgba(245, 245, 245, 0.829);
    border-radius: 3rem;
    box-shadow: 10px 10px 2px 0px #b1d3d2 ;
    border: #92d3d1 solid 4px; 
    border: #8fccca solid 4px;
    
}
.btn{
  position: absolute;
  left:0%;
    font-size: 1.5rem;
    text-decoration-line: none;
    text-shadow: 1px 1px 2px black, 0 0 1em #84bbf3, 0 0 0.2em #84bbf3;
    color: white;
    background-color:rgb(245,245,245,.5);
    padding:1rem;
    border-radius: .5rem;
    font-family: 'Josefin Sans', sans-serif;


}
.btn-initial {
  font-family: 'Josefin Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-items: center;
  text-align: center ;
    width: 30rem;
    height: 5rem;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius: 1.8rem;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	font-size:2rem;

    padding:1.5rem 2.4rem;
    margin: 2rem;
	text-decoration:none;
  text-shadow:0rem .1rem 0rem #528ecc;
  
  margin-top: -1rem;



}


.btn-initial:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color:#80b5ea;
  
}
.btn-initial:active {
	top:.1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 15% auto;
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    width:  55rem;
    height:  30rem;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .close:hover{
    color: #80b5ea;
  }
  .popup-title{
    display: flex;
    justify-content: center;
    color: #80b5ea;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: -3rem;

    font-family: 'Josefin Sans', sans-serif;

  }
  .popup .content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    overflow: auto;
    width: 100%;



  }
  .popup .btn-secondary{
    

    margin-top: 3rem;
    border-radius: 3rem;
    
    text-decoration-line: none;
    color: white;
    font-size: 1.5rem;
    background-color:#80b5ea;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    text-shadow: 1px 1px 2px black, 0 0 1em #84bbf3, 0 0 0.2em #84bbf3;
    padding: 1.5rem;


    
    font-family: 'Josefin Sans', sans-serif;


}

.createGamebtn{
  display: flex;
  justify-content: center;
}

.btn-secondary:hover{
    text-decoration-line: underline;
}
.game-intro {
  font-size: 2.5rem;
  
  font-family: 'Martel', serif;

  margin-bottom: 2rem;

}

