html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            
  

}
  
body {
    font-family: 'Sriracha', cursive;
    letter-spacing: 1rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0;
    background-size: cover;
    background-image: linear-gradient(
      to bottom,
     rgba(255, 246, 197, 0.32),
     rgba(255, 182, 46, 0.22)),
    url('../img/backgroundfe1.png');
    

    
    

}

.map-dialogue-section{
  text-align: center;
  font-family: 'Lemonada', cursive;
}

.dialogue{
  margin-top: 3rem;
  height:10rem;
	width: 40rem;
  color: skyblue;
  border-radius: 1rem;
  

	box-shadow: 0 1.5rem 2rem rgba(0,0,0,.15);


}
.container {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(46, 34, 34, 0.5);
  width: 85rem;
  

  margin: 0 auto;
  margin-top: 5rem;

  border-radius: 2rem;

  text-align: center;
  display: inline-block;


  display: flex;
  justify-content: space-around;
  padding: 3rem;
 
}


.center{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.map{
  width: 40rem;
  height: 40rem;
  background: url("/img/maps/map1.png");
  background-size: cover;
  margin: auto;
  margin-top: 3rem;

}
  
.party-section{
 
  width: 60rem;
  flex-direction: column;
  display: flex;

}
.character-cards{
  padding: 2rem;
  margin-top: -2rem;
  
  text-align: center;
  display: inline-block;

  
}

.party-divider{
  width: 20rem;


}

.card-side{

  height:18rem;

  color: skyblue;
  border-radius: 1rem;
  border: solid rgb(187, 231, 248) 0.2rem;
  
	backface-visibility: hidden;
	box-shadow: 0 1.5rem 2rem rgba(0,0,0,.15);
  
  background: linear-gradient(90deg, #e5fffd 0%, #d9e7ff 100%);
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s ease;
  transition: all 1s
  
}

.card-side:hover {
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
  cursor: pointer;
}




.character_front1{
  
  position: absolute;

  margin: 3rem;

  

}



.character-portrait{
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  padding: 1rem;
}

.info{
  display: flex;
  
	font-size:1rem;
  font-family: 'Roboto Slab', serif;



 
}

.row{
  display: flex;
  justify-content: space-around;

}

.column2{
  margin: 0 auto;
  margin-top:1rem;


  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
 

 
 
}

.btn{

  background: linear-gradient(90deg, rgba(100,179,212,1) 35%, rgba(97,169,184,1) 100%);
  border: rgba(100,179,212,1) solid 2px;
  border-radius: 1rem;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 1px #fff inset;

  color:white;
  font-family: 'Roboto', sans-serif;
  font-family: 'Oxanium', cursive;
  font-family: 'Lato', sans-serif;


  padding-bottom:1.25rem;
  padding-top: 1.25rem;
  padding-left:3rem;
  padding-right: 3rem;
  letter-spacing: 0.5rem;

  position: relative;


}

.decor-left{
  position:absolute;
  top: 0;
  left: 0;
  height: 3.5rem;

  z-index:0;
  
}
.decor-right{
  position:absolute;
  top: 0;
  right: 1;
  height: 3.5rem;
  z-index:0;

  
  
}

.skills-btn{
  background: #f8e8d8;
  border: #999 solid 1px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 1px #fff inset;

 
  width: 10rem;
  height: 3rem;


 

  text-align: center;

  display:flex;
  flex-direction: row;

}
.skills{

  
  width: 8rem;
  clip-path: circle(45% at 50% 50%);
  background-color: skyblue;
}

.stats{
  word-spacing: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  color: white;
  text-shadow: -1px 0 #3b50cc, 0 1px #3b50cc, 1px 0 #3b50cc, 0 -1px #3b50cc;

 
  
}

.stat-text{
  position: relative;
  z-index: 1;

  margin-left: -1.5rem;
  margin-right: 1rem;
}
.stat-decor{
  position:absolute;
  top: 0;
  left: 2;
  height: 3.5rem;
  z-index: 0;
}

.stat-decor2{
  position:absolute;
  top: 0;
  right: 3rem;
  height: 3.5rem;
  z-index: 0;
}

.hp{
  width: 18rem;

}

.weapon{


}

.name{




  



}

