html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Sriracha', cursive;
    letter-spacing: 1rem;
    font-weight: 700;
  }

  header {
    font-family: 'Lemonada', cursive;
  }
  