.tile{
    width: 1.5rem;
    height: 1.5rem;
    border-width: .5px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-basis: 10%;
}

.viable{
    background-color: blue;
}

#container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 15rem;
}

.board_sprite{
    height: 3rem;
    width: auto;
    pointer-events: none;
    z-index: 1;
}